<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="css/weather-icons.css" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Weather in ABC Hub, Ljubljana</title>
  </head>
  <body>
    <div class="grid">
      {% if is_raining %}
      <i class="wi wi-rain"></i>
      {% else %}
      <i class="wi wi-day-sunny"></i>
      {% endif %}
    </div>
    <div class="info">
      {{description}}<br>
      &copy; 2019 <a href="https://matjazdrolc.eu">matjazdrolc.eu</a>. Vir
      podatkov: <a href="http://meteo.arso.gov.si/">meteo.arso.gov.si</a>
    </div>
  </body>
</html>
